<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191905636655-6nevdhcourvran2nc51m059ed7r1ukre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191905636655-6nevdhcourvran2nc51m059ed7r1ukre</string>
	<key>API_KEY</key>
	<string>AIzaSyA9p8mQHc_wqeBwB_Hk-oCF2-HHE-CmHhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>191905636655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseClasswork1</string>
	<key>PROJECT_ID</key>
	<string>pard4-33857</string>
	<key>STORAGE_BUCKET</key>
	<string>pard4-33857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191905636655:ios:30e403205d4320f54b01da</string>
</dict>
</plist>