<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78900842782-6i4mcbofu6it1qorph38mvhfijknh2u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78900842782-6i4mcbofu6it1qorph38mvhfijknh2u6</string>
	<key>API_KEY</key>
	<string>AIzaSyDPTnt9IE9Bype-O6JFaSVbErNIeOIVRHI</string>
	<key>GCM_SENDER_ID</key>
	<string>78900842782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-d7a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-d7a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78900842782:ios:c54d52f51ebd0bf5f7790f</string>
</dict>
</plist>